<nav class='navbar navbar-expand-lg navbar-light bg-light'>
<a class="navbar-brand" href="/">
  <img src="/images/logo-2.png" width="30" height="30" class="d-inline-block align-top" alt="">
</a>
<ul class='navbar-nav mr-auto'>
  <li class="nav-item active">
    <a class="nav-link" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/register">Sign Up</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/api/update-delete">Update/Delete</a>
  </li>
</ul>
</nav>
