body {
  padding-top:20px;
}

.myh2 {
  color:#6EC1E4
}

.std_cls{
  margin-top:50px;
  color: #9b51e0;
}

.form-group, .btn_submit{
  margin-top:20px;
}

footer{
  margin-top: 30px;
}

.card {
  margin-top: 40px;
}

#btn_search {
  margin-top: 30px;
}

#div_update {
  margin-left: 20px;
  margin-right: 20px;
}

#btn-submit-update {
  margin-bottom: 20px;
}